#home-hello {
    animation: textAni1 1.5s linear forwards;
    color: cornflowerblue;
    font-size: 4rem;
    font-weight: bold;
}

#home-world {
    animation: textAni2 1.5s linear forwards;
    color: cornflowerblue;
    font-size: 4rem;
    font-weight: bold;
}

@keyframes textAni1 {
    0% {
        transform: translateX(0px);
    } 50% {
        transform: translateX(0px);
    } 100% {
        transform: translatex(-150px);
    }
    
}

@keyframes textAni2 {
    0% {
        transform: translateX(0px);
    } 50% {
        transform: translateX(0px);
    } 100% {
        transform: translatex(150px);
    }
}