#home-hello {
    animation: textAni1 1.5s linear forwards;
    animation-delay: 1s;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    left: 38%;
}

#home-world {
    animation: textAni2 1.5s linear forwards;
    animation-delay: 1s;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    right: 38%;
}

#home-name {
    opacity: 0;
    animation: textAni 1s linear forwards;
    animation-delay: 3s;
    color: steelblue;
    font-size: 4rem;
    position: absolute;
    left: 38%;
    font-weight: bold;
}

@keyframes textAni1 {
    from {
        transform: translateX(0%);
    } to {
        transform: translatex(-110%);
    }
    
}

@keyframes textAni2 {
    from {
        transform: translateX(0%);
    } to {
        transform: translatex(80%);
    }
}

@keyframes textAni {
    0% {
        opacity: 0;
    } 100% {
       opacity: 1;
    }
}