.container {
    display: flex;
}

.container-category {
    display: flex;
    flex-direction: column;
    bottom: 10px;
    left: 0;
    position: fixed;
}

.container-category a {
    color: black;
    padding-top: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;

}

.container-main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#home {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.container-main-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

#about-me {
    height: 100vh;
    padding-top: 20px;
}

#skils {
    height: 100vh;
    padding-top: 20px;
}

#edu-certi {
    height: 100vh;
    padding-top: 20px;
}

#project {
    height: 100vh;
    padding-top: 20px;
}

#contact {
    height: 100vh;
    padding-top: 20px;
}

h2 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
}