body {
    padding: 15px;
}

.container {
    display: flex;
}

.container-category {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-end;
    z-index: 100;
}

.container-category a {
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}

.container-category a:hover {
    color: cornflowerblue;
}

.container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#home {
    height: 100vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.container-main-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-me {
    height: 100vh;
    padding-top: 20px;
}

#skils {
    height: 100vh;
    padding-top: 20px;
}

#edu-certi {
    height: 100vh;
    padding-top: 20px;
}

#project {
    height: 100vh;
    padding-top: 20px;
}

#contact {
    height: 100vh;
    padding-top: 20px;
}

h2 {
    color: cornflowerblue;
    font-size: 2.5rem;
    font-weight: bold;
}